In [1]:
import pandas as pd
import numpy as np
from os import path,listdir

In [2]:
location = path.join('main_trial_level_cleaned.csv')
sheet=pd.read_csv(location) #opening the excel file - trial level data
#sheet.head()
sheet.tail()

,Unnamed: 0,experimentname,SubjNum,session,attribbadlosepercent,attribbadwinpercent,attribgainbondamount,attribgainloseamount,attribgainwinamount,attribgoodlosepercent,...,firstchoicestock,pctfirstchoicestock,education,household_income,hhinc_bin,college,lowinc,age_decade,val_error_3sd_removed,abs_error_3sd_removed
4195,4195,Task Active Involvement ed. 4.9,1104,1,0.7,0.3,6,2,10,0.3,...,NaN,1.0,16,"$50,000-$59,999",6,1,0,5,-6.0,6.0
4196,4196,Task Active Involvement ed. 4.9,1104,1,0.7,0.3,6,2,10,0.3,...,NaN,1.0,16,"$50,000-$59,999",6,1,0,5,3.0,3.0
4197,4197,Task Active Involvement ed. 4.9,1104,1,0.7,0.3,6,2,10,0.3,...,NaN,1.0,16,"$50,000-$59,999",6,1,0,5,-2.0,2.0
4198,4198,Task Active Involvement ed. 4.9,1104,1,0.7,0.3,6,2,10,0.3,...,NaN,1.0,16,"$50,000-$59,999",6,1,0,5,0.0,0.0
4199,4199,Task Active Involvement ed. 4.9,1104,1,0.7,0.3,6,2,10,0.3,...,NaN,1.0,16,"$50,000-$59,999",6,1,0,5,0.0,0.0

In [3]:
list(sheet.columns.values)

['Unnamed: 0',
 'experimentname',
 'SubjNum',
 'session',
 'attribbadlosepercent',
 'attribbadwinpercent',
 'attribgainbondamount',
 'attribgainloseamount',
 'attribgainwinamount',
 'attribgoodlosepercent',
 'attribgoodwinpercent',
 'attriblossbondamount',
 'attriblossloseamount',
 'attriblosswinamount',
 'datafilebasename',
 'experimentversion',
 'runtimeversion',
 'runtimeversionexpected',
 'sessiondate',
 'sessionstartdatetimeutc',
 'sessiontime',
 'showupfee',
 'studioversion',
 'exptlist',
 'finalgotprobabilityright',
 'finaloverallpay',
 'finalprobabilityearnings',
 'finaltotalearnings',
 'trial',
 'attribbondamount',
 'attribhighamount',
 'attriblowamount',
 'initialcondition',
 'secondcondition',
 'stocktype1',
 'stocktype2',
 'subtrial',
 'attribcurrentcondition',
 'attribtrialnumber',
 'confidenceestimateresp',
 'confidenceestimatert',
 'currentearnings',
 'investmentchoiceresp',
 'investmentchoicert',
 'objectiveprobability_pct',
 'outcome',
 'overallpay',
 'probabilityearnings',
 'probabilityestimateresp',
 'probabilityestimatert',
 'proceduresubtrial',
 'runningsubtrial',
 'sharesheld',
 'successessofar',
 'totalearnings',
 'probabilityestimateresp_t_min_1',
 'objectiveprobpct_t_min_1',
 'optimal_decision',
 'optimal_decision_subj',
 'objectiveprobability_hi',
 'absolute_error',
 'val_estdiff_valid',
 'age',
 'sex',
 'pet',
 'fmri',
 'moca',
 'fas_total',
 'fas_animals',
 'fas_total_perseverations',
 'digitspan_total',
 'digitspan_forward',
 'digitspan_backward',
 'letternumbersequencing',
 'trails_a_practice_seconds',
 'trails_a_seconds',
 'trails_b_practice_seconds',
 'trails_b_seconds',
 'pairedassociates_1_totalrecall',
 'pairedassociates_1_learningslope',
 'pairedassociates_2_recall',
 'pairedassociates_2_retention_per',
 'pairedassociates_2_recognition',
 'numeracy',
 'shipley',
 'stroop_word',
 'stroop_color',
 'stroop_color_word',
 'age_cat',
 'old',
 'gaindomain',
 'lossdomain',
 'incorrect_choice',
 'firstassetchoseninblock',
 'incorrchoicematchingfrstinblck',
 'firstchoicestock',
 'pctfirstchoicestock',
 'education',
 'household_income',
 'hhinc_bin',
 'college',
 'lowinc',
 'age_decade',
 'val_error_3sd_removed',
 'abs_error_3sd_removed']

In [4]:
df = sheet.groupby(["SubjNum","outcome"]).mean().reset_index()  #groupig things by subjnum and stock value
df.head()

,SubjNum,outcome,Unnamed: 0,session,attribbadlosepercent,attribbadwinpercent,attribgainbondamount,attribgainloseamount,attribgainwinamount,attribgoodlosepercent,...,incorrchoicematchingfrstinblck,firstchoicestock,pctfirstchoicestock,education,hhinc_bin,college,lowinc,age_decade,val_error_3sd_removed,abs_error_3sd_removed
0,1002,-10,24.363636,1.0,0.7,0.3,6.0,2.0,10.0,0.3,...,0.181818,1.00,0.7,14.0,2.0,0.0,1.0,4.0,-35.727273,35.727273
1,1002,-2,37.210526,1.0,0.7,0.3,6.0,2.0,10.0,0.3,...,0.210526,0.25,0.7,14.0,2.0,0.0,1.0,4.0,-67.947369,67.947369
2,1002,2,28.952381,1.0,0.7,0.3,6.0,2.0,10.0,0.3,...,0.238095,1.00,0.7,14.0,2.0,0.0,1.0,4.0,-17.150001,17.450001
3,1002,10,20.777778,1.0,0.7,0.3,6.0,2.0,10.0,0.3,...,0.000000,1.00,0.7,14.0,2.0,0.0,1.0,4.0,-55.333334,55.333334
4,1004,-10,92.500000,1.0,0.7,0.3,6.0,2.0,10.0,0.3,...,0.166667,0.50,0.4,14.0,2.0,0.0,1.0,3.0,-21.500000,32.500000

we made G10, G2, L10, L2 here:

In [5]:
four_errors = df.pivot(index='SubjNum',columns='outcome',values='abs_error_3sd_removed') #pivot it into what we want: each subject has four prob. errors

In [6]:
result=sheet.groupby('SubjNum', as_index=False).mean().merge(four_errors, on='SubjNum') #create a sheet with 4 errors
result.tail()

,SubjNum,Unnamed: 0,session,attribbadlosepercent,attribbadwinpercent,attribgainbondamount,attribgainloseamount,attribgainwinamount,attribgoodlosepercent,attribgoodwinpercent,...,hhinc_bin,college,lowinc,age_decade,val_error_3sd_removed,abs_error_3sd_removed,-10,-2,2,10
65,1098,3929.5,1.0,0.7,0.3,6.0,2.0,10.0,0.3,0.7,...,3.0,0.0,1.0,4.0,3.750000,24.983333,28.700000,19.200000,26.352941,21.923077
66,1099,3989.5,1.0,0.7,0.3,6.0,2.0,10.0,0.3,0.7,...,12.0,1.0,0.0,8.0,-7.216667,32.083333,35.750000,37.714286,43.769231,15.058823
67,1100,4049.5,1.0,0.7,0.3,6.0,2.0,10.0,0.3,0.7,...,3.0,1.0,1.0,5.0,13.133333,28.866667,32.055555,25.083333,33.538462,24.588235
68,1101,4109.5,1.0,0.7,0.3,6.0,2.0,10.0,0.3,0.7,...,6.0,1.0,0.0,5.0,-29.482143,37.125000,24.285715,59.692308,20.642858,44.933333
69,1104,4169.5,1.0,0.7,0.3,6.0,2.0,10.0,0.3,0.7,...,6.0,1.0,0.0,5.0,-13.466667,30.266667,28.538462,40.941176,26.200000,22.500000

## Merge main task and nback data

In [7]:
result.rename(columns={'SubjNum': 'sub'}, inplace=True)
#merge nback and main task data. how='left' means keep the young adults who do not have nback data.

In [8]:
#result=pd.merge(sheet, four_errors, on='SubjNum')
#result.head()
#result=result.groupby(["SubjNum"]).mean().reset_index()
result.to_csv("main_subject_level_data_abs_7.8.2019.csv") #this outputs in the code directory

In [9]:
#This is how you get a single row from a multi-index data frame:
#df.loc[(100,'GAIN')]